<div id = "header_wrapper">
	<header id = "header">
		<!-- <div class = 'logo_wrap'>
			<img src = "images/logo.png" style = "width: 150px; height: 50px;">
		</div>
		 -->
	
 
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">upsc<span>book</span></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li> <a href="#">Contact us</a></li>
</ul>
    <ul class="nav navbar-nav navbar-right">

      <li><a (onClick())=""><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
  </div>
</nav> 
</header>
</div>